.stdText {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; color: #990000}
.eylai {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #FFFFFF}
.eylai {  }
