.center {text-align:center}
.right {text-align:right}
a {color:#FFA500;text-decoration:none;}
a:hover {color:#FFD700;text-decoration:underline;}
a.here {color:#000000;text-decoration:none;}
a.here:hover {color:#000000;text-decoration:none;}
a.nav {color:#FFFFFF;background-color:#808080;display:block;text-decoration:none;text-align:center;border-width:1px;border-color:#808080;border-style:solid;font-family:Goudy Old Style, Times;font-size:20px;width:92px;height:24px;}
a.nav:hover {color:#FF8C00;background-color:#000000;border-color:#000000;text-decoration:none;}
a.white {color:#FFFFFF;}
a.white:hover {color:#FFFFFF;}
body {margin-top:0;margin-left:0;margin-bottom:0px;margin-right:0px;background-image:url(../images/bats.gif);font-family:Helvetica;font-size:16px;background-color:#A9A9A9;text-align:left;color:#000000}
div.announcement{width:340px;padding:10px;background-color:#D2691E;border-width:1px;border-color:#000000;border-style:dashed;}
div.announcement#awide{width:auto;background-color:#696969}
div.announcement#xwide{width:auto;background-color:#696969}
div.footer{background-color:#000000;color:#FFFFFF;border-width:0;border-top-width:5px;border-style:double;border-color:#C0C0C0}
div.newspop{padding:10px;background-color:#F0E68C;border-width:1px;border-color:#000000;border-style:dashed;position:absolute;z-index:1;display:none;width:200px;font-size:1.55em;}
div.sidebar{font-size:0.75em;}
h3 {margin:0.25em 0.5em 0.5em 0em}
hr {color:#990000;height:1px;text-align:center;}
hr.header {width:100px;height:2px;border-style:dashed;}
img {border-width:0;}
img.usc {margin:10px;background-color:#000000;}
span.date{font-size:16px;font-family:Goudy Old Style, Times;color:#FFFFFF;}
span.footer{display:block;width:600;font-size:65%;text-align:right;}
span.hx {font-family:CloisterBlack BT,Pristina,Goudy Old Style,Times;font-size:40px;color:
	#FF8C00;display:block;font-weight:bold;font-style:italics;}
span.info{padding-top:10px;padding-bottom:15px;padding-left:100px;display:block;font-size:65%}
span.subheader{font-size:135%;font-weight:bold;padding-bottom:15px;}
span.subheader2{font-size:125%;font-weight:bold;padding-bottom:5px;color:#FFFFFF;}
table.calendar{border-color:#FF8C00;border-width:3px;border-style:double;background-color:#696969}
table.navbar{background-color:#696969;}
td.bx{vertical-align:top;}
td.bxa{vertical-align:top;font-size:0.70em;}
td.bxa#today {background-color:#D2691E}
td.navx{background-color:#000000;color:#FFFFFF;height:70px;background-image:url(../images/bannerx.jpg);background-repeat:no-repeat;vertical-align:top}
td.usc{background-color:#000000;width:98px;}
td.week{text-align:center;}
th.month{text-align:center;background-color:#FF8C00;color:#FFFFFF;}
ul{margin-left:30px;padding:0px;list-style-type:circle;}
#credits{width:100%;text-align:left;font-size:75%;}